@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    background-color: #00bab3;
    font-family: "Roboto", sans-serif;
    max-width: 600px;
    margin: auto;
}

label {
    font-size: 14px;
}

.ans_container{
    width: 100%;
    display: grid;
    align-items: center;
}

.container {
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 24px;
    padding-top: 22px;
    position: relative;
}

#pop_up {
    z-index: 2;
    visibility: hidden;
    position: fixed;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transition: background-color 1s ease;
}

.close_button {
    position: relative;
    float: right;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer;
}

.container_respuesta {
    max-width: 530px;
    height: 60%;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    margin: auto;
    vertical-align: middle;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 10%;
    text-align: center;
}

.q_title {
    font-size: 16px;
    display: block;
    line-height: 24px;
    margin-bottom: 1rem;
    font-weight: 400;
}

.submit {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    font-size: 1.2em;
    font-weight: 400;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    cursor: pointer;
    transition: box-shadow 1s ease;
}

.submit:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
}